* {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
}

body {
    background-color: black;
}

.button {
    color: black;
    background-color: white;
}

.button:hover {
    background-color: whitesmoke;
}

img {
    width: 190px;
    height: 80px;
}