* {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
}

body {
    background-color: black;
}

.button {
    color: black;
    background-color: white;
}

.button:hover {
    size-adjust: 10px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 2 / 2 / 3; }
    .div2 { grid-area: 1 / 4 / 2 / 5; }
    .div3 { grid-area: 1 / 6 / 2 / 7; }