* {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
}

body {
    background-color: black;
}

.button {
    color: black;
    background-color: white;
}

.button:hover {
    size-adjust: 10px;
}