body {
    background-color: #121212;
}

iframe {
    width: 600px;
    border: none;
    justify-self: center;
    align-self: center;
    background-color: #777;
}

.game {
    justify-self: center;
    align-self: center;
    background-color: #777;
}